{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portafolio/profile.jpeg' %}" alt="">
    </div>

    <div class="col-md-8 my-auto">
        <h1>I am <strong>Victor Martinez</strong></h1>
        <h3> Soy un desarrollador Full Stack de Python</h3>
        <p align="left">Ingeniero
            de sistemas, con capacidad para analizar las
            necesidades que demandan los clientes y los requisitos de
            los proyectos, sintetizando una solución óptima hacia los
            objetivos, con actitud proactiva, ética y responsabilidad,
            buenas habilidades de comunicación, asertivo para el
            trabajo en equipo y aprendizaje autónomo. Poseo habilidades
            destacadas en la el lenguaje de programación Python, como
            desarrollador junior d urante mi trayectoria, he trabajado en
            proyectos que involucran aplicaciones web utilizando Python
            y los frameworks Django, Flask y Django REST He
            contribuido al diseño, implementación y mantenimiento de
            sistemas web robustos y escalables incluyendo el manejo de
            bases de datos relacionales. He trabajado como analista funcional en la identificación y
            documentación de requisitos, así como en el diseño y
            ejecución de pruebas especificas mi objetivo es contribuir
            al desarrollo de soluciones tecnológicas de calidad,
            asegurando la satisfacción de los usuarios y la excelencia en
            el producto final Participé en el relevamiento y análisis de
            requerimientos, trabajando de cerca con los stakeholders
            para identificar necesidades y traducirlas en
            especificaciones técnicas Colaborando</p>
        <a href="{% static 'portafolio/CV-Victor-2023.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3"
            target="_blank">Descargar HV</a>
    </div>

</header>

<div class="row my-4 text-center">

    <h3>Mis Proyectos</h3>
    <p>Estos son mis ultimos proyectos desarrollados desde cero atraves de los requerimientos</p>

    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project text-white">
            <div class="card-body">
                <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>

                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}